!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='en')
//if IE 7
  html.no-js.lt-ie9.lt-ie8(lang='en')
//if IE 8
  html.no-js.lt-ie9(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title Backbone.js Testing
    meta(name='description',
         content='Apps, suites, and examples for Backbone.js Testing.')
    meta(name='keywords',
         content='backbone.js testing, backbone.js, backbone, javascript, underscore.js, jquery, mocha, chai, sinon, sinon.js, testing, unit test, spies, mocks, stubs')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    //- Stylesheets
    link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap-theme.min.css")
    //-link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootswatch/2.3.1/cerulean/bootstrap.min.css")
    link(rel="stylesheet", href="doc/site.css")

  body
    //- Top-level container.
    #page.bg.container

      //- Banner
      //- * forkme_right_gray_6d6d6d
      //- * forkme_right_white_ffffff
      //- * forkme_right_darkblue_121621
      a.hidden-xs(
        href="https://github.com/ryan-roemer/backbone-testing"
        style="position: absolute; top: 0; right: 0; border: 0;")
        img.banner(
          src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"
          alt="Fork me on GitHub")

      //- Header.
      header#hero.jumbotron.backing-img

      //- Content
      .container
        block nav
          .nav-wrapper
            nav#nav.navbar.navbar-default.navbar-static(role="navigation")
              .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#nav-expand")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href="#") Home

              div#nav-expand.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.dropdown
                    a.dropdown-toggle(href="#", data-toggle="dropdown")
                        | Sections
                        b.caret
                      ul.dropdown-menu

        block content

    //- JavaScript
    script(src="vendor/jquery.min.js")
    script(src="vendor/jquery.backstretch.min.js")
    script(src="vendor/underscore.min.js")
    script(src="vendor/bootstrap/js/bootstrap.min.js")
    script(src="doc/site.js")

    //- Google Analytics
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38176320-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }());
